<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/inicio.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="../static/JS/inicio.js"></script>
    <link rel="icon" href="..//static/Imagenes/Logo.png">
    <title>Itip</title>
</head>
<header>
    <h2>Instituto Tecnico Industrial Piloto</h2>
</header>
<body>
    <main>
        <nav >
            <div class="nave">
                <ul>
                    <li class="boton-menu">
                        <a href="#" id="botonMenu">
                            <img src="../static/Imagenes/lista.png" class="lista">
                        </a>
                        <div class="menu-desplegable" id="menuDesplegable">
                            <a href="./agendar_citas.html">Agendar Cita</a>
                        </div>
                    </li>

                    <li><a href="./inicio.html"><img src="../static/Imagenes/Logo.png" class="logo"></a></li>
                    <li><a href="./">Cerrar Sesion</a></li>
                </ul>
            </div>
            {% if mensaje3 %}
            <div class="alert alert-success text-center" role="alert">
                {{ mensaje3 }}
            </div>
            {% endif %}
            <div class="itipistas">
                <h1>Bienvenido Estudiante</h1>
            </div>
        </nav>
    </main>
<footer>
    <div class="texto_abajo">
        <h2>ITIP</h2>
<p>Información institucional y servicios de atención a la comunidad educativa</p>
<p>PQR – Peticiones, Quejas, Reclamos, Sugerencias y Felicitaciones</p>
<p>El Instituto Técnico Industrial Piloto promueve una formación integral, académica y técnica, fortaleciendo los conocimientos, valores, competencias y habilidades de sus estudiantes para contribuir al desarrollo personal, educativo y profesional.</p>
<p>© 2026 Instituto Técnico Industrial Piloto – Institución Educativa Distrital. Todos los derechos reservados. Información institucional destinada a estudiantes, familias, docentes y demás integrantes de la comunidad educativa.</p>
    </div>
    <div class="abajo">
        <ul>
            <li><a href="https://x.com/institutopiloto?lang=nl"><img src="../static/Imagenes/Icono_Twitter.png" ></a></li>
            <li><a href="https://maps.app.goo.gl/ej1RVD7x1y4TbtnX8"><img src="../static/Imagenes/Ubicacion.png"></a></li>
            <li><a href="#" onclick="copiarCorreo(event)"><img src="../static/Imagenes/Correo.png" alt="Copiar correo"></a></li>
            <li><a href="https://www.facebook.com/ITIPOFICIAL/?locale=es_LA"><img src="../static/Imagenes/facebook.png"></a></li>
            <li><a href="https://youtube.com/@institutotecnicoindustrial408?si=yutcKy-q51SiHU15"><img src="../static/Imagenes/Icono_Youtube.png" ></a></li>
        </ul>            
    </div>
</footer>
</body>
    

</html>