<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/ver_turnos.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='JS/ver_turnos.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='Imagenes/Logo.png') }}">
    <title>Itip - Ver Turnos</title>
</head>
<body>
    <header>
        <h2>Instituto Técnico Industrial Piloto</h2>
    </header>

    <main>
        <nav>
            <div class="nave">
                <ul>
                    <li class="boton-menu">
                        <a href="#" id="botonMenu">
                            <img src="{{ url_for('static', filename='Imagenes/lista.png') }}" class="lista">
                        </a>

                        <div class="menu-desplegable" id="menuDesplegable">
                            <a href="{{ url_for('agendar_cita') }}">Agendar turnos</a>
                        </div>
                    </li>
                    <li><a href="{{ url_for('ver_turnos') }}"><img src="{{ url_for('static', filename='Imagenes/Logo.png') }}" class="logo"></a></li>
                    <li><a href="{{ url_for('admin') }}">Volver</a></li>
                </ul>
            </div>
        </nav>

        <h1 class="itipistas">Turnos registrados</h1>

        <div class="container mt-5">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Documento</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Servicio</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for turno in turnos %}
                    <tr>
                        <td>{{ turno.id }}</td>
                        <td>{{ turno.nombres }}</td>
                        <td>{{ turno.apellidos }}</td>
                        <td>
                            {{ turno.tipo_documento }}
                            {{ turno.numero_documento }}
                        </td>
                        <td>{{ turno.fecha }}</td>
                        <td>{{ turno.hora }}</td>
                        <td>{{ turno.servicio }}</td>
                        <td>{{ turno.descripcion }}</td>
                        <td>
                            <a href="{{ url_for('editar_turno', id=turno.id) }}"
                               class="btn btn-warning btn-sm">
                                Editar
                            </a>

                            <a href="{{ url_for('eliminar_turno', id=turno.id) }}"
                               class="btn btn-danger btn-sm"
                               onclick="return confirm('¿Seguro que quieres eliminar este turno?')">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <div class="texto_abajo">
            <h2>ITIP</h2>
            <p>Información institucional y servicios de atención a la comunidad educativa</p>
            <p>PQR – Peticiones, Quejas, Reclamos, Sugerencias y Felicitaciones</p>
            <p>El Instituto Técnico Industrial Piloto promueve una formación integral, académica y técnica, fortaleciendo los conocimientos, valores, competencias y habilidades de sus estudiantes para contribuir al desarrollo personal, educativo y profesional.</p>
            <p>© 2026 Instituto Técnico Industrial Piloto – Institución Educativa Distrital. Todos los derechos reservados. Información institucional destinada a estudiantes, familias, docentes y demás integrantes de la comunidad educativa.</p>
        </div>
        <div class="abajo">
            <ul>
                <li><a href="https://x.com/institutopiloto?lang=nl"><img src="{{ url_for('static', filename='Imagenes/Icono_Twitter.png') }}"></a></li>
                <li><a href="https://maps.app.goo.gl/ej1RVD7x1y4TbtnX8"><img src="{{ url_for('static', filename='Imagenes/Ubicacion.png') }}"></a></li>
                <li><a href="#" onclick="copiarCorreo(event)"><img src="{{ url_for('static', filename='Imagenes/Correo.png') }}" alt="Copiar correo"></a></li>
                <li><a href="https://www.facebook.com/ITIPOFICIAL/?locale=es_LA"><img src="{{ url_for('static', filename='Imagenes/facebook.png') }}"></a></li>
                <li><a href="https://youtube.com/@institutotecnicoindustrial408?si=yutcKy-q51SiHU15"><img src="{{ url_for('static', filename='Imagenes/Icono_Youtube.png') }}"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>